.borde{
    border: 1px solid red ;
}

.conten-logo{

    height: 10rem;
    width: 10rem;

}
.logo1{
    width: 10rem;
}

.p-faq{
    padding-left: 12rem;
    padding-right: 12rem;
}

.contenedor-form{
    padding-left: 24rem;
    padding-right: 24rem;
}

.boton-hero{
    background: #db3636;
    border-radius: 4px;
    color: #000![](../../../../../Users/Jorge/AppData/Local/Temp/mapa-1.png)000;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 22px;
    text-transform: uppercase;
    border: none;
}

.contenedor-mapa{
    background: #db3636;
    height: 400px;
    display: flex;
    background-image: url("/imgs/contacto/mapa-1.png");
    background-position: center; /* Center the image */
}

.redes {
    margin-top: 5rem;
}
